.signUpBody h1 {
	font-size: 60px;
	color: white;
	overflow-x: hidden;
}

.signUpBody {
	margin-top: 20px;
}

.signUpBody input {
	font-family: 'Dosis', sans-serif;
	font-size: 20px;
	border-radius: 10px;
	padding: 5px;
	border-width: 0px;
	width: 60%;
	text-align: center;
}

.signUpContainer {
	font-family: 'Dosis', sans-serif;
	 width: 60%;
	 min-width: 300px;
 	height: auto;
 	text-align: center;
 	background-color: orange;
 	border-radius: 10px;
	margin: auto;
	padding: 10px;
}

.signUpButton {
	font-family: 'Dosis', sans-serif;
	font-size: 20px;
	color: orange;
	padding: 5px;
	border-radius: 10px;
	border-width: 0px;
	cursor: pointer;
}

.signUpContainer a {
	color: #2E8B57;
	text-decoration: white underline;
	margin: auto;

}

.signUpContainer form input {
	margin: 10px;
}

.signUpContainer a:hover {
	color: white;
}