.signUpBody h1 {
	font-size: 60px;
	color: white;
	overflow-x: hidden;
}

.signUpBody input {
	font-family: 'Dosis', sans-serif;
	font-size: 20px;
	border-radius: 10px;
	padding: 5px;
	border-width: 0px;
	width: 60%;
	text-align: center;
}

.signUpContainer {
	font-family: 'Dosis', sans-serif;
	 width: 30%;
	 min-width: 300px;
 	height: 750px;
 	text-align: center;
 	background-color: orange;
 	border-radius: 10px;
	margin: auto;
}

.signUpButton {
	font-family: 'Dosis', sans-serif;
	font-size: 20px;
	color: orange;
	padding: 5px;
	border-radius: 10px;
	border-width: 0px;
	cursor: pointer;
}

.signUpContainer a {
	color: white;
	text-decoration: white underline;
	position: relative;
	top: 400px;
	margin: auto;

}