body {
margin: 0px;
width: 90%;
margin: auto;
}

.appBody {
	background-color:white;
	width: 90%;
	margin: auto;
    color:orange;
	height: 800px;
	overflow-x: hidden;
	overflow-y: hidden;
}

.appBody p {
	color: black;
	width: 90%;
	margin: auto;
}