.logInBody h1 {
	font-size: 60px;
	color: white;
	overflow-x: hidden;
}

.logInBody input {
	font-family: 'Dosis', sans-serif;
	font-size: 20px;
	border-radius: 10px;
	padding: 5px;
	border-width: 0px;
	width: 60%;
	text-align: center;
}

.logInContainer {
	font-family: 'Dosis', sans-serif;
 	width: 30%;
 	height: 750px;
 	text-align: center;
 	background-color: orange;
 	border-radius: 10px;
	margin: auto;
}

.logInButton {
	font-family: 'Dosis', sans-serif;
	font-size: 20px;
	color: orange;
	padding: 5px;
	border-radius: 10px;
	border-width: 0px;
	cursor: pointer;
}

.createAccount {
	color: white;
	margin: auto;
	width: 50%;
}

.createAccount a {
	color: white;
	text-decoration: underline;
}