.logInBody {
	margin-top: 10px;
}

.logInBody h1 {
	font-size: 60px;
	color: white;
	overflow-x: hidden;
}

.logInBody input {
	font-family: 'Dosis', sans-serif;
	font-size: 20px;
	border-radius: 10px;
	padding: 5px;
	border-width: 0px;
	width: 60%;
	text-align: center;
}

.logInContainer {
	font-family: 'Dosis', sans-serif;
 	width: 60%;
	height: auto;
	min-width: 300px;
 	text-align: center;
 	background-color: orange;
 	border-radius: 10px;
	margin: auto;
	padding: 10px;
}

.logInContainer form input {
	margin: 10px;
}
.errorMessage {
	margin-top: 10px;
	color: white;
}

.logInButton {
	font-family: 'Dosis', sans-serif;
	font-size: 20px;
	color: orange;
	padding: 5px;
	border-radius: 10px;
	border-width: 0px;
	cursor: pointer;
}

.createAccount {
	color: black;
	margin: auto;
	width: 50%;
	font-size: 15px;
}

.createAccount a {
	color: #2E8B57;
	text-decoration: underline;
}

.createAccount a:hover {
	color: white;
}

.hanger {
	max-width: 200px;
}