ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    overflow: hidden;
    background-color:rgba(118, 135, 151, 0.3);

}

.left {
    float: left;
}

.right {
    float:right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    
    background-color: white;
    color: black;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: #4CAF50;
    font-family: 'Rammetto One', cursive;
}

body {
    background-size:cover;        
    background-image: url(../../images/hanger2.png);
    background-repeat: no-repeat;
    background-color:#80C181;
    color:#4CAF50;
}

form {
    background-color:rgba(255,255,255,0.8);
    padding:20px;  
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
}


input[type=text] {
    width: 60%;
    box-sizing: border-box;
    border: solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px 10px;
}

input[type=submit] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}