.homebody {    
    background-image: url(../../images/hanger3.png);
    background-repeat: no-repeat;
    background-color:orange;
    color:white;
}

.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    overflow: hidden;
    background-color:rgba(255,255,255,0.8);

}

.left {
    float: left;
    display: block;
    color: orange;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.right {
    float:right;
    display: block;
    color: orange;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.h1 {
    text-align: center;
    text-transform: uppercase;
    color: orange;
    font-family: 'Rammetto One', cursive;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.search {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    background-color:rgba(255,255,255,0.8);
    padding:20px;  

}


.input[type=text] {
    width: 20%;
    box-sizing: border-box;
    border: solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px 10px;
}

.input[type=submit] {
    background-color: orange;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}