.searchContainer {
    font-family: 'Dosis', sans-serif;
    width: 30%;
    height: 700px;
    text-align: center;
    background-color: orange;
    border-radius: 10px;
    margin:  auto;
    font-size: 30px;
    
}

.afterSearchContainer {
    width: 100%;
}

.homebody {    
    background-repeat: no-repeat;
    font-family: 'Dosis', sans-serif
}

.ul {
    color:orange;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:white;

}

.left {
    float: left;
    display: block;
    text-decoration: none;
    padding-left:14px;
    text-align: center;
    padding-bottom:0px;
}

.right {
    color: orange;
    float:right;
    display: block;
    padding: 10px;
    text-decoration: none;
    font-family: 'Dosis', sans-serif
}


.h1 {
    color:white;
    text-align: center;
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
}


.h3 {
    color:orange;
    text-align: center;
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
}


.selection {
    color: orange;
   background-color: white;
   border-radius: 20px;
   border-width:0px;
   padding: 16px 32px;
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    margin: 4px 2px;
}

.footSize {
    text-align: center;
    color: orange;
    background-color: white;
    border-radius: 20px;
    border-width:0px;
    padding: 10px;
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    margin: auto;
    max-width: 295px;
}

.searchButton {
    background-color: white;
    color: orange;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 4px 2px;
}

/*AFTER SEARCH
-------------------*/

.afterSearch {
    font-family: 'Dosis', sans-serif;
    width: 100%;
    height: 95%;
    text-align: center;

   
}

.afterSearch{
    display:inline-block;
}
