.welcomeText {
    color: white;
    font-size: 15px;
}

.welcomeText a {
    color: white;
    text-decoration: underline;
}

.input {
    text-align: center;
    height: 30%;
    font-size: 15px;
    background-color:rgba(255,255,255,0.8);
    padding:5px;  
    font-family: 'Dosis', sans-serif
}

::placeholder {
    color: orange;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: orange;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: orange;
}

.search {
    background-color:orange;
    margin:20px auto;
    top: 50%;
    border-radius: 10px;
    text-align: center;
    font-size: 25px;
    color:white;
    padding:20px;  
    font-family: 'Dosis', sans-serif;

}

.search h1 {
    font-size: 60px;
}

.search a {
    color: #2E8B57;
}

.search a:hover {
    color: white;
}

.radio {
    margin: 10px;
}

.logo {
    width: 200px;
    margin: auto;
}

.no-logo {
    display: none;
}